
#joinPage {
    display: none;
}

#gamePage {
    display: none;
}

#gameStatus {
    display: none;
}

div {
    text-align: center ;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    z-index: 10;
}

#processing {
    display: none;
}

#chat {
    display: none;
}

body {
    -ms-user-select: none;
  font: 20px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #888;
    color: white;
  padding: 0px 0px;
    float: left;
}

h1 {
    font-size: 16px;
}
